*::-webkit-input-placeholder {
	color: #383f51;
	opacity: 1;
}
*:-moz-placeholder {
	color: #383f51;
	opacity: 1;
}
*::-moz-placeholder {
	color: #383f51;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #383f51;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	 
}
body {
	font-family: 'Mont';
	font-size: 16px;
	line-height: 160%;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
	color: #383F51;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 124px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}


.header {
	padding: 35px 0;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 800;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	width: 198px;
	height: auto;
	display: block;
}
.menu {
	gap: 32px;
	line-height: 140%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu > li > a {
	gap: 11px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	color: #383f51;
	font-weight: 600;
}
.menu__haschild > a::after {
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal; 
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
    font-weight: 600;
	content: "\f078";
	font-size: 80%;
	transition: all 0.3s;
}
.menu__catalog > a::before {
	position: relative;
	display: block;
	content: " ";
	width: 24px;
	height: 24px;
	margin-right: 20px;
	background-image: url(../img/hamburger.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.menu > li {
	position: relative;
}
.menu > li > ul {
	padding: 25px 10px;
	width: 250px;
	top: 100%;
	left: 0;
	background: #fff;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
	box-shadow: 0 5px 15px #e2e8ed;
}
.menu > li:hover > ul {
	visibility: visible;
	opacity: 1;
}
.menu > li > ul > li {
	margin-bottom: 15px;
}
.menu > li > ul > li a {
    color: #383f51;
    font-weight: 600;
}
.menu > li > ul > li:last-child {
	margin-bottom: 0;
}
.header .btn-main {
	padding: 0 16px;
}
.link-simple {
	font-size: 14px;
	line-height: 140%;
	color: #01497c;
}
.header__buttons {
	gap: 11px;
	display: flex;
	align-items: center;
}
.prev.page-numbers,
.next.page-numbers,
.btn-search,
.open-search,
.list-socials a,
.slick-arrow,
.btn-header {
	width: 54px;
	height: 54px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1.5px solid #01497c;
	border-radius: 50%;
	color: #01497c;
	cursor: pointer;
}
.btn-search img,
.open-search img,
.btn-header img {
	width: 24px;
	height: auto;
}
.header__contacts {
	gap: 14px;
	display: flex;
	align-items: center;
}
.header__right {
	gap: 24px;
	display: flex;
	align-items: center;
}

.billbord {
	padding: 100px 0;
	min-height: 826px;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #fff;
}
.billbord::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(0deg, rgba(56, 63, 81, 0.5), rgba(56, 63, 81, 0.5));
	mix-blend-mode: multiply;
	pointer-events: none;
}
.billbord::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: -1;
	pointer-events: none;
}
.billbord__badge {
	font-size: 20px;
	margin-top: 23px;
	line-height: 140%;
	color: #fff;
	background: #d31412;
	padding: 8px 14px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
}
.billbord__title {
	font-size: 40px;
	margin-top: 62px;
	margin-bottom: 68px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.billbord__title strong {
	font-size: 100px;
	margin-top: -15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: 'Furore';
	display: block;
}
.billbord__content ul li {
	font-size: 20px;
	margin-bottom: 20px;
	padding-left: 25px;
	line-height: 140%;
	font-weight: 600;
	position: relative;
}
.billbord__content ul li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 5px;
}
.billbord__content ul li:last-child {
	margin-bottom: 0;
}
.dealer-block {
	padding: 36px 31px;
	padding-bottom: 33px;
	min-height: 445px;
	margin-bottom: 22px;
	background-color: #eaf1f5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #383f51;
	background-image: url(../img/bg_dealer.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.dealer-block .btn-main {
	margin-top: auto;
}
.dealer-block__title {
	font-size: 40px;
	margin-bottom: 16px;
	line-height: 160%;
	text-transform: uppercase;
	font-weight: 700;
}
.dealer-block__title span {
	font-size: 24px;
	line-height: 150%;
	font-weight: 600;
	text-transform: none;
	display: block;
}
.dealer-block__text {
	max-width: 350px;
}
.btn-main {
	height: 50px;
	padding: 0 36px;
	font-size: 16px;
	gap: 10px;
	line-height: 140%;
	color: #fff;
	border-radius: 6px;
	font-weight: 600;
	background: #c1121f;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: none;
	transition: all 0.3s;
	font-family: 'Mont';
}
.header .btn-main,
.billbord .btn-main {
	height: 44px;
	font-size: 14px;
}
.billbord__info {
	margin-left: 76px;
}
.calculator-block {
	font-size: 20px;
	height: 159px;
	padding: 0 31px;
	line-height: 140%;
	text-transform: uppercase;
	color: #383f51;
	font-weight: 700;
	background: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	background-image: url(../img/bg_calculator.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.calculator-block span {
	max-width: 172px;
	display: block;
}

.advantages {
	padding: 90px 0;
}
.row.row_page > div {
	padding: 0;
}
.row.row_page {
	margin: 0;
}
.item-advantage {
	padding: 64px;
	padding-bottom: 78px;
	min-height: 100%;
	background: #fff;
	border-right: 1px solid #f5f8fb;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.5s;
}
.item-advantage::before {
	position: absolute;
	display: block;
	content: " ";
	top: 100%;
	left: 0;
	width: 607px;
	transform: translateY(-21px);
	height: 576px;
	background-image: url(../img/element_logo.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	transition: all 0.5s;
	z-index: -1;
	opacity: 0.5;
}
.item-advantage:hover::before {
	transform: translateY(-576px);
	opacity: 0.1;
}
.item-advantage__title {
	font-size: 32px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.5s;
	color: #01497c;
}
.number-value {
	font-size: 100px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2c7da0;
	font-family: 'Furore';
	transition: all 0.5s;
}
.item-advantage .number-value {
	margin-bottom: 20px;
}

.categories {
	padding-top: 60px;
	padding-bottom: 67px;
	background: #f5f8fb;
}
.title-middle {
	font-size: 32px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.categories__head {
	gap: 66px;
	margin-bottom: 64px;
	display: flex;
	align-items: center;
}
.categories__head .title-middle {
	max-width: 420px;
}
.item-category {
	padding: 28px;
	padding-bottom: 40px;
	color: #01497c;
	display: block;
	text-align: center;
	background: #fff;
	position: relative;
	min-height: 100%;
}
.item-category__title {
	font-size: 24px;
	line-height: 140%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin-bottom: 1px;
	display: block;
}
.item-category__image {
	width: 337px;
	height: 200px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-category__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-category i {
	right: 70px;
	bottom: 29px;
	font-size: 24px;
	position: absolute;
}
.row.row_categories > div {
	padding: 1px;
}
.row.row_categories {
	margin: -1px;
}

.catalog {
	padding: 90px 0;
}
.title-section {
	font-size: 40px;
	margin-bottom: 44px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.item-catalog__slider:not(.slick-initialized) > *:not(:first-child),
.slider-catalog:not(.slick-initialized) > *:not(:first-child) {
	display: none;
}
.item-catalog {
	border: 1px solid #eaf1f5;
	min-height: 100%;
	line-height: 140%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-catalog__slider {
	border-bottom: 1px solid #eaf1f5;
	width: 100%;
}
.item-catalog__image {
	height: 242px;
	width: 343px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-catalog__content {
	padding: 28px;
	padding-top: 19px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-catalog__title {
	font-size: 20px;
	margin-bottom: 15px;
	line-height: 160%;
	color: #383f51;
	font-weight: 600;
	width: 100%;
	display: block;
}
.item-catalog__bottom {
	padding-top: 36px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
}
.price-main {
	font-size: 20px;
	font-weight: 600;
}
.item-catalog .slick-dots {
	bottom: 17px;
}
.slick-dots {
	gap: 10px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.slick-dots li {
	width: 12px;
	height: 12px;
	margin: 0;
	transition: all 0.3s;
}
.slick-dots li button {
	width: 12px;
	height: 12px;
	background: #eaf1f5;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
	display: block;
	font-size: 0;
	color: transparent;
}
.slick-dots li.slick-active button {
	background: #2c7da0;
}
.slick-dots li button::before {
	display: none;
}
.btn-main.btn-main_border {
	border: 1px solid #01497c;
	color: #01497c;
	background: transparent;
}
.item-catalog .btn-main {
	height: 40px;
	font-size: 14px;
	padding: 0 20px;
}
.item-catalog .btn-main img {
	width: 20px;
}
.slick-arrow {
	top: 50%;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
	z-index: 2;
	background: #fff;
}
.slick-prev {
	left: -68px;
}
.slick-next {
	right: -68px;
}


.steps {
	padding-bottom: 94px;
}
.item-step {
	padding: 0 32px;
	border-right: 1px solid #eaf1f5;
	min-height: 100%;
}
.item-step .title-middle {
	margin-bottom: 28px;
	text-transform: none;
	line-height: 125%;
	color: #01497c;
}
.item-step .number-value {
	margin-bottom: 35px;
}

.footer {
	padding-top: 56px;
	background: #eaf1f5;
}
.footer__title {
	font-size: 20px;
	margin-bottom: 4px;
	line-height: 200%;
	font-weight: 600;
}
.logo-descr {
	font-size: 14px;
	line-height: 140%;
}
.footer__logo .logo-descr {
	margin-top: 18px;
}
.footer__nav li {
	margin-bottom: 17px;
}
.footer__nav li:last-child {
	margin-bottom: 0;
}
.footer__nav li a {
	color: #383f51;
}
.row > div:nth-child(3) .footer__nav {
	margin-right: -15px;
}
.btn-main.btn-main_footer {
	padding: 12px 28px;
	margin-top: 38px;
	height: auto;
	text-align: left;
	background: #01497c;
	border-radius: 0;
}
.phone-main {
	font-size: 20px;
	color: #383f51;
	font-weight: 600;
}
.row > div:nth-child(4) .footer__column {
	margin-left: 65px;
}
.list-socials a {
	border-color: #383f51;
}
.list-socials img {
	width: 24px;
	height: auto;
}
.list-socials {
	gap: 12px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.footer .list-socials {
	margin-top: 13px;
	margin-bottom: 32px;
}
.footer-bottom {
	margin-top: 47px;
	font-size: 14px;
	padding: 10px 0;
	line-height: 150%;
	color: rgba(56, 63, 81, 0.45);
	border-top: 1px solid rgba(56, 63, 81, 0.45);
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
} 
.footer-bottom a {
	color: rgba(56, 63, 81, 0.45);
}
.btn-top {
	font-size: 18px;
	margin-left: auto;
	position: relative;
	color: #fff !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #01497c;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-search {
	display: flex;
	align-items: center;
	position: relative;
}
.header-search .header-search__form {
	width: 0;
	right: 0px;
	overflow: hidden;
	position: absolute;
	transition: all 0.3s;
}
.header-search.active .header-search__form {
	width: 515px;
} 
.header-search input {
	height: 54px;
	padding: 0 23px;
	font-size: 14px;
	font-family: 'Mont';
	width: 100%;
	background-color: #fff;
	border-radius: 60px;
	color: #383f51;
	border: 1.50px solid #01497c;
}
.btn-search {
    top: 0;
    right: 0px;
    bottom: 0;
    margin: auto;
    border: none;
    position: absolute;
	background: #01497c;
}
.btn-search img {
	filter: brightness(0) invert(1);
}
.btn-call {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 40px;
	height: 40px;
	padding-top: 9px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-radius: 50%;
	flex-direction: column;
	align-items: center;
	flex: none;
	cursor: pointer;
	display: none;
    background: #01497c;
	position: relative;
	z-index: 1;
}
.sw-topper {
	position: relative;
	top: 5px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 13px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 6px;
	transform: rotate(-45deg); 
}
.btn-calculator-wrap {
	bottom: 50px;
	left: 0;
	right: 0;
	z-index: 10;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.btn-calculator-wrap .container {
	position: relative;
}
.btn-calculator-wrap.fixed {
	visibility: visible;
	opacity: 1;
}
.btn-calculator {
	width: 154px;
	padding: 16px 22px;
	font-size: 13px;
	gap: 16px;
	right: 15px;
	bottom: 0;
	margin-left: auto;
	position: absolute;
	line-height: 120%;
	color: #fff;
	font-weight: 600;
	background: #01497c;
	display: flex;
	align-items: center;
}
.btn-calculator img {
	width: 42px;
	height: auto;
}
.modal-block {
	display: none;
	padding: 0;
	background: transparent;
}
.form-page {
	padding: 45px 66px;
	background-color: #eaf1f5;
	background-image: url(../img/bg_form.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.modal-block .form-page {
	width: 474px;
	max-width: 100%;
}
.title-form {
	font-size: 24px;
	margin-bottom: 25px;
	line-height: 130%;
	text-align: center;
	color: #383f51;
	font-weight: 600;
}
.item-form {
	margin-bottom: 12px;
}
.file-upload label,
.item-form input,
.item-form textarea {
	height: 50px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 160%;
	color: #383f51;
	width: 100%;
	border-radius: 8px;
	background: #fff;
	border: none;
	font-family: 'Mont';
}
.file-upload input {
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	position: absolute;
	top: 0;
	left: 0;
}
.file-upload label {
	padding: 14px 20px;
	gap: 15px;
	height: auto;
	font-weight: 400;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.3s;
	position: relative;
}
.file-upload label i {
	font-size: 120%;
	top: 4px;
	position: relative;
}
.file-upload {
	position: relative;
}
.name-upload {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	font-size: 12px;
	line-height: 15px;
}
.form-page .btn-main {
	margin-top: 35px;
	width: 100%;
	padding: 0 10px;
}
.fancybox-slide--html .fancybox-close-small {
	padding: 8px;
	opacity: 1;
}
.checkbox {
	font-size: 12px;
	margin-top: 23px;
	line-height: 140%;
	color: rgba(56, 63, 81, 0.5);
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	justify-content: center;
	text-align: left;
}
.checkbox label {
	display: block;
	position: relative;
	cursor: pointer;
}
.checkbox label input {
	width: 19px;
	height: 19px;
	border: 1px solid rgba(56, 63, 81, 0.5);
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 10px;
}
.checkbox input::after {
	position: absolute;
    top: -1px;
    left: -1px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	background-image: none;
	color: rgba(56, 63, 81, 0.5);
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox input:checked:after {
	opacity: 1;
}

.btn-header.btn-header_basket {
	background: #D31412;
	border: none;
}
.btn-header.btn-header_basket img {
	filter: brightness(0) invert(1);
}
.location-main__value {
	gap: 10px;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 600;
}
.location-main__value::before {
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal; 
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
    font-weight: 600;
	content: "\f078";
	font-size: 80%;
	transition: all 0.3s;
}
.location-main {
	position: relative;
}
.location-drodown {
	width: 480px;
	padding: 24px;
	margin-top: 10px;
	top: 100%;
	left: 0;
	border: 1px solid #d9d9d9;
	background: #f9fbfd;
	position: absolute;
	display: none;
}
.location-drodown ul {
	columns: 3;
}
.location-drodown ul li {
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 160%;
	color: #383f51;
	break-inside: avoid;
}
.location-drodown ul li a {
	color: #383f51;
}
.header__left {
	gap: 32px;
	display: flex;
	align-items: center;
}
.page-contacts {
	padding-top: 52px;
	padding-bottom: 120px;
}
.wrapper_page .header {
	border-bottom: 1px solid #d9d9d9;
}
.page-contacts .form-page {
	margin-left: 76px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-image: url(../img/bg_form2.svg);
}
.item-form textarea {
	height: 78px;
	padding-top: 14px;
	display: block;
	resize: none;
}
.page-contacts .form-page .btn-main {
    margin-top: 10px;
}
.item-contact__title {
	font-size: 20px;
	margin-bottom: 18px;
	font-weight: 600;
}
.item-contact .list-socials {
	margin-top: 13px;
}
.item-contact {
	margin-bottom: 32px;
}
.map-wrap {
	margin-top: 60px;
	position: relative;
}
#map {
	height: 488px;
	width: 100%;
	background: #eaf1f5;
}
.locations-block {
	width: 260px;
	padding: 24px 26px;
	top: 18px;
	left: 40px;
	z-index: 2;
	position: absolute;
	background: #fff;
}
.locations-block li {
	padding: 16px 34px;
	font-size: 14px;
	margin-bottom: 14px;
	line-height: 160%;
	color: #383f51;
	font-weight: 600;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	background: #f5f8fb;
	cursor: pointer;
	transition: all 0.3s;
}
.locations-block li.active {
	background: #2c7da0;
	background-color: #2c7da0;
	color: #fff;
}
.locations-block li:last-child {
	margin-bottom: 0;
}
.breadcrumbs {
	padding: 15px 0;
	font-size: 14px;
	line-height: 160%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #383f51;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #383f51;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.page-calculator .title-section {
	margin-bottom: 37px;
}
.step-calculator {
	margin-bottom: 70px;
}
.step-calculator:last-child {
	margin-bottom: 0;
}
.calculator-wrapper {
	counter-reset: stepscalc;
}
.step-calculator__tilte {
	font-size: 20px;
	gap: 25px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	font-weight: 600;
}
.step-calculator__tilte:before {
	font-size: 32px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2c7da0;
	counter-increment: stepscalc;
	content:  "0" counter(stepscalc); 
	font-family: 'Furore';
}
.wrap-checks {
	gap: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.item-check label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-check label {
	position: relative;
	display: block;
}
.item-check__content {
	padding: 20px 60px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	background: #f5f8fb;
	display: block;
	text-align: center;
	font-weight: 600;
	transition: all 0.3s;
	cursor: pointer;
}
.item-check__title {
	font-size: 14px;
	line-height: 160%;
	display: block;
}
.item-check label input:checked + .item-check__content {
	background: #2c7da0;
	border-color: #2c7da0;
	color: #fff;
}
.item-check__image {
	height: 116px;
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.item-check__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-check_main .item-check__content {
	border: 1px solid #eaf1f5;
	background: transparent;
}
.item-check_main label input:checked + .item-check__content {
	border: 2px solid #2c7da0;
	background: #f5f8fb;
	color: #383f51;
}
.step-calculator .item-select {
	max-width: 285px;
}
.item-select select {
	opacity: 0;
}
.item-select .jq-selectbox__select-text {
	height: 62px;
	padding: 0 20px;
	font-size: 14px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	background: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.item-select .jq-selectbox {
	width: 100%;
	z-index: 10 !important;
}
.item-select .jq-selectbox.opened {
	z-index: 11 !important;
}
.item-select .jq-selectbox__trigger {
	right: 20px;
	width: 20px;
	height: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal; 
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
    font-weight: 700;
	font-size: 90%;
	transition: all 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-select .jq-selectbox__trigger::after {
	content: "\f078";
}
.item-select .jq-selectbox__dropdown {
	left: 16px;
	right: 16px;
	padding: 18px 16px;
	max-height: 350px;
	overflow: auto;
	top: 100% !important;
	bottom: auto !important;
	border: 1px solid #d9d9d9;
	background: #f9fbfd;
}
.item-select .jq-selectbox__dropdown li {
	margin-bottom: 3px;
	cursor: pointer;
}
.item-select .jq-selectbox__dropdown li:last-child {
	margin-bottom: 0;
}
.jq-selectbox__dropdown::-webkit-scrollbar {
	-webkit-appearance: none;
}
.jq-selectbox__dropdown::-webkit-scrollbar:vertical {
	width: 3px;
}
.jq-selectbox__dropdown::-webkit-scrollbar:horizontal {
	height: 3px;
}
.jq-selectbox__dropdown::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
}
.jq-selectbox__dropdown::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}
.input-calculator {
	margin-bottom: 11px;
	position: relative;
}
.input-calculator input {
	height: 62px;
	padding: 0 20px;
	font-size: 14px;
	border: 1px solid #d9d9d9;
	border-radius: 8px;
	font-family: 'Mont';
	width: 100%;
}
.input-calculator__value {
	min-width: 30px;
	height: 30px;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	text-align: center;
	background: rgba(56, 63, 81, 0.45);
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	pointer-events: none;
	transition: all 0.3s;
}
.scheme-calculator .active {
	stroke: #d31412;
	fill: #d31412;
}
.input-calculator.active .input-calculator__value {
	background: #c1121f;
}
.scheme-calculator * {
	transition: all 0.3s;
}
.scheme-calculator {
	margin-bottom: -100px;
	margin-top: -70px;
	margin-left: 20px;
}
.step-calculator__text p {
	margin-bottom: 20px;
}
.step-calculator__text strong {
	font-weight: 600;
}
.form-calculator {
	padding-top: 36px;
	margin-top: 39px;
	border-top: 1px solid #2c7da0;
}
.page-calculator {
	padding-bottom: 120px;
}
.form-calculator__text {
	max-width: 585px;
}
.form-calculator__wrap {
	gap: 14px;
	display: flex;
	align-items: center;
}
.form-calculator__wrap .item-form {
	width: 342px;
	margin: 0;
}
.item-form.item-form_page input {
	height: 54px;
	border: 1px solid #d9d9d9;
}
.form-calculator .btn-main {
	height: 54px;
	padding: 0 63px;
}
.wrap-inputs .row > div {
	padding: 0 6px;
}
.wrap-inputs .row {
	margin: 0 -6px;
}
.wrap-inputs {
	max-width: 612px;
}
.row.row_main > div {
	margin-bottom: 30px;
}
.row.row_main {
	margin-bottom: -30px;
}
.title-main {
	font-size: 24px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.item-sidebar__head {
	font-size: 18px;
	padding: 12px 24px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.3s;
}
.item-sidebar__head i {
	font-size: 60%;
}
.item-sidebar.active .item-sidebar__head {
	background: #eaf1f5;
}
.page-catalog .title-main {
	margin-bottom: 25px;
}
.filter-catalog {
	margin-bottom: 20px;
	gap: 6px;
	display: flex;
	flex-wrap: wrap;
}
.select-filter select {
	opacity: 0;
}
.select-filter .jq-selectbox {
	font-size: 14px;
	line-height: 160%;
	z-index: 10 !important;
}
.select-filter .jq-selectbox.opened {
	z-index: 11 !important;
}
.select-filter .jq-selectbox__select-text {
	padding: 6px;
	padding-right: 34px;
	padding-left: 10px;
	border-radius: 3px;
	width: auto !important;
	cursor: pointer;
	background: #f5f8fb;
}
.select-filter .jq-selectbox__trigger {
	right: 5px;
	width: 20px;
	height: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal; 
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
    font-weight: 700;
	font-size: 80%;
	transition: all 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.select-filter .jq-selectbox__trigger::after {
	content: "\f078";
}
.select-filter .jq-selectbox__dropdown {
	width: 251px;
	padding: 16px 18px;
	left: 0 !important;
	right: auto !important;
	top: 100% !important; 
	bottom: auto !important;
	border: 1px solid #d9d9d9;
	background: #f9fbfd;
}
.select-filter .jq-selectbox__dropdown li {
	margin-bottom: 12px;
	cursor: pointer;
	transition: all 0.3s;
}
.select-filter .jq-selectbox__dropdown li:last-child {
	margin-bottom: 0;
}
.select-filter .jq-selectbox__dropdown li:first-child {
	display: none;
}
.select-filter .jq-selectbox__dropdown li.sel,
.select-filter .jq-selectbox__dropdown li:hover {
	font-weight: 600;
}
.item-catalog__text p:not(:last-child) {
	margin-bottom: 8px;
}
.item-catalog_main .item-catalog__bottom {
	padding-top: 28px;
}
.item-catalog_main .item-catalog__image {
    height: 255px;
    width: 100%;	
}
.item-catalog.item-catalog_main {
	padding: 10px;
}
.item-catalog.item-catalog_main .item-catalog__content {
	padding: 17px;
}
.item-catalog.item-catalog_main .item-catalog__slider {
	border: none;
}
.badges {
	gap: 4px;
	top: 10px;
	left: 10px;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
}
.badges__item {
	font-size: 13px;
	padding: 6px 10px;
	border-radius: 6px;
	line-height: 160%;
	color: #fff;
	font-weight: 600;
	background: #c1121f;
}
.pager {
	height: 54px;
	margin-top: 39px;
	gap: 34px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	text-transform: uppercase;
	color: #383f51;
	font-weight: 600;
}
.page-numbers.current {
	color: #c1121f;
}
.prev.page-numbers,
.next.page-numbers {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}
.text-page p {
	margin-bottom: 20px;
}
.text-page p:last-child {
	margin-bottom: 0;
}
.text-page h2 {
	font-size: 40px;
	margin-bottom: 29px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.page-catalog .text-page {
	margin-top: 68px;
}
.page-catalog {
	padding-bottom: 60px;
}
.consultation {
	padding-bottom: 110px;
}
.consultation__main {
	padding: 51px 58px;
	padding-left: 91px;
	background-image: url(../img/bg_consultation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: #fff;
}
.consultation__main::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(56, 63, 81, 0.5);
	z-index: -1;
	mix-blend-mode: multiply;
}
.consultation__title {
	font-size: 48px;
	margin-bottom: 26px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.consultation__descr {
	font-size: 32px;
	line-height: 160%;
	font-weight: 600;
}
.consultation__content {
	margin-top: 37px;
	max-width: 690px;
}
.consultation .form-page {
	padding-top: 54px;
	padding-bottom: 54px;
	margin-left: 25px;
}
.item-sidebar__content {
	padding: 12px 24px;
	display: none;
}
.item-sidebar__content li:not(:last-child) {
	margin-bottom: 12px;
}
.item-sidebar__content a {
	color: #383F51;
}
.consultation .form-page .btn-main {
	margin-top: 10px;
}
.page-mockup {
	padding-top: 193px;
	padding-bottom: 213px;
	margin-bottom: 92px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-mockup {
	font-size: 80px;
	margin-bottom: 34px;
	line-height: 100%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: 'Furore';
}
.descr-mockup {
	font-size: 36px;
	max-width: 810px;
	line-height: 140%;
	font-weight: 600;
}
.page-mockup .btn-main {
	margin-top: 72px;
	height: 54px;
	padding: 0 41px;
}
.page-mockup_thanks {
	background-image: url(../img/bg_thanks.jpg);
}
.page-mockup_error {
	background-image: url(../img/bg_error.jpg);
}
.page-mockup_error .descr-mockup {
	max-width: 720px;
}
.page-card {
	padding-bottom: 100px;
}
.page-card .title-main {
	text-transform: none;
}
.slider-for {
	border: 1px solid #eaf1f5;
}
.slider-for__item {
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-nav__item img,
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav__item {
	height: 140px;
	border: 1px solid #eaf1f5;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.slider-nav:not(.slick-initialized) > *:not(:first-child),
.slider-for:not(.slick-initialized) > *:not(:first-child) {
	display: none;
}
.slider-nav .slick-slide {
	padding: 0 6px;
}
.slider-nav .slick-list {
	margin: 0 -6px;
}
.slider-nav {
	margin-top: 23px;
}
.page-card .title-main {
	margin-bottom: 28px;
}
.slider-nav .slick-arrow {
	width: 32px;
	height: 32px;
	font-size: 15px;
}
.slider-nav .slick-prev {
	left: -12px;
}
.slider-nav .slick-next {
	right: -12px;
}
.wrap-slider-card {
	position: relative;
}
.card-content {
	padding-left: 28px;
	margin-right: 30px;
}
.card-content__item {
	margin-bottom: 30px;
}
.card-content__title {
	font-size: 20px;
	margin-bottom: 14px;
	line-height: 130%;
	font-weight: 600;
}
.wrap-checks.wrap-checks_card {
	gap: 12px;
}
.item-check_card .item-check__content {
	padding: 6px 10px 4px 10px;
	border-radius: 3px;
	font-weight: 400;
	background: transparent;
}
.item-check.item-check_card label input:checked + .item-check__content {
	border-color: #2c7da0;
	background: #f5f8fb;
	color: #383f51;
}
.item-color__value {
	width: 37px;
	height: 37px;
	border-radius: 3px;
	border: 1px solid transparent;
	display: block;
	cursor: pointer;
	transition: all 0.3s;
}
.item-color label input:checked + .item-color__value {
	border-color: #2c7da0 !important;
}
.item-color label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-color label {
	position: relative;
	display: block;
}
.wrap-colors {
	gap: 7px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.card-info {
	padding: 19px 28px;
	padding-bottom: 14px;
	font-size: 13px;
	margin-left: -30px;
	line-height: 160%;
	background: #eaf1f5;
}
.card-info__price {
	font-size: 14px;
	margin-bottom: 26px;
	line-height: 160%;
}
.card-info__price strong {
	font-size: 32px;
	margin-top: 4px;
	line-height: 95%;
	font-weight: 600;
	display: block;
}
.card-info__price strong sup {
	font-size: 55%;
	line-height: 0;
}
.card-info__guarantee {
	font-size: 24px;
	gap: 18px;
	max-width: 200px;
	margin-top: 30px;
	line-height: 110%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2c7da0;
	display: flex;
	align-items: center;
	font-family: 'Furore';
}
.card-info__guarantee strong {
	font-size: 64px;
	line-height: 140%;
}
.slider-for .slick-dots {
	bottom: 18px;
}
.calculator-card {
	padding: 30px;
	margin-top: 37px;
	background: #f9fbfd;
}